extends layout

block content
  h1(class="title") Clash Stats 🔥📈
  div()
    h2(class="text-end my-3") #{best_streak_name} has a streak of #{best_streak_length} wins!
    h3(class="my-4") #{best_10g_wr_name} has a #{best_10g_wr}% win rate for the past 10 games!
    h4(class="text-center my-6") #{best_20g_wr_name} has a #{best_20g_wr}% win rate for the past 20 games!

  div(class="btn-group mt-5 text-center")
    if sort === "name"
      button(class="btn btn-primary ms-2") Name
    else
      a(href="/?sort=name"): button(class="btn btn-outline-primary ms-2") Name

    if sort === "trophies"
      button(class="btn btn-primary ms-2") Trophies
    else
      a(href="/?sort=trophies"): button(class="btn btn-outline-primary ms-2") Trophies


    if sort === "best-streak"
      button(class="btn btn-primary ms-2") Best Streak
    else
      a(href="/?sort=best-streak"): button(class="btn btn-outline-primary ms-2") Best Streak


    if sort === "worst-streak"
      button(class="btn btn-primary ms-2") Worst Streak
    else
      a(href="/?sort=worst-streak"): button(class="btn btn-outline-primary ms-2") Worst Streak


    if sort == "10gwr"
      button(class="btn btn-primary ms-2") 10 Game Win Rate
    else 
      a(href="/?sort=10gwr"): button(class="btn btn-outline-primary ms-2") 10 Game Win Rate


    if sort === "20gwr"
      button(class="btn btn-primary ms-2") 20 game Win Rate
    else
      a(href="/?sort=20gwr"): button(class="btn btn-outline-primary ms-2") 20 game Win Rate


  div(class="d-flex row mt-4")
    each player in player_data_list
      div(class="card d-flex mx-4 my-2 shadow p-3 mb-5 rounded" style="width: 18rem;")
        div( class="card-body")
          h5(class="card-title") #{player.name}
          p(class="card-subtitle mb-2 text-body-secondary") Trophies #{player.trophies}
          p(class="card-subtitle mb-2 text-body-secondary") Win Rate #{player.winrate} %
          ul(class="list-group list-group-flush")
            if player.streak_length != 1
              li(class="list-group-item") #{player.streak_length} game steak of #{player.streak_type} 
            else
              li(class="list-group-item") no streak 

            //- li(class="list-group-item") #{player.daily_games} games played today


            li(class="list-group-item") 10 Game win rate #{player.ten_game_wr} %
            li(class="list-group-item") 20 Game win rate #{player.twenty_game_wr} %

            //- li(class="list-group-item") 10 game trophoies #{player.ten_game_trophies}
            //- li(class="list-group-item") 10 game elixir leak #{player.ten_game_el} elixir
            //- li(class="list-group-item") 10 game comparative elixir leak #{player.ten_game_el_comp} elixir
            //- li(class="list-group-item") streak trophies #{player.streak_trophies}
            //- li(class="list-group-item") streak elixir leak #{player.streak_el} elixir
            //- li(class="list-group-item") streak comparative elixir leak #{player.comp_streak_el} elixir

  //- p Name #{name}
  //- p Trophies #{trophies}
  //- p Win Rate #{winrate} %
  //- p 10 Game win rate #{ten_game_wr}
  //- p 10 game trphoies #{ten_game_trophies}
  //- p 10 game elixir leak #{ten_game_el}
  //- p 10 game comparative elixir leak #{ten_game_el_comp}
  //- p #{streak_length} game steak of #{streak_type} 
  //- p streak trophies #{streak_trophies}
  //- p streak elixir leak #{streak_el}
  //- p streak comparative elixir leak #{comp_streak_el}
  