extends layout

block content
  h1= title
  p Welcome to clash stats!
  p Name #{name}
  //- p Trophies #{trophies}
  //- p Win Rate #{winrate}
  //- p 10 Game win rate #{ten_game_wr}
  //- p 10 game trphoies #{ten_game_trophies}
  //- p 10 game elixir leak #{ten_game_el}
  //- p 10 game comparative elixir leak #{ten_game_el_comp}
  //- p #{streak_len} game steak of #{streak_type} 
  //- p streak trophies #{streak_trophies}
  